<!doctype html>
<html lang="en" class="no-js" ng-app="app">
<head>
    <base href="/"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width">

    <title>Hilly Fields Technical College</title>
    <meta name="description" content="">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-controller="SiteController as site" layout="row">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
                                                                                                                    your
                                                                                                                    browser</a>
                       to improve your experience.</p>
<![endif]-->
<md-sidenav layout="column" class="md-sidenav-left" md-whiteframe="4" md-component-id="left" md-disable-backdrop
            md-is-locked-open="$mdMedia('gt-md')">
    <header class="nav-header">
        <a ng-href="/" class="docs-logo" href="/">
            <img src="images/chevron-chief-crossbotony-233x300.png" alt="">
            <h1 class="docs-logotype md-heading">Hilly Fields Technical College</h1>
        </a>
    </header>
    <md-list ng-cloak>
        <md-list-item>
            <md-button ui-sref="home" ui-sref-active="md-primary" ng-click="site.toggleSidenav()">
                <md-icon md-svg-icon="ic_home_24px" aria-label="Home"></md-icon>
                Home
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button ui-sref="reports" ui-sref-active="md-primary" ng-click="site.toggleSidenav()">
                <md-icon md-svg-icon="ic_account_circle_24px" aria-label="Profile"></md-icon>
                Reports
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button ui-sref="entities" ui-sref-active="md-primary" ng-click="site.toggleSidenav()">
                <md-icon md-svg-icon="ic_find_in_page_24px" aria-label="Search"></md-icon>
                Entities
            </md-button>
        </md-list-item>
    </md-list>
</md-sidenav>
<div ui-view flex layout="column"></div>


<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-ui-router-default/angular-ui-router-default.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/config.js"></script>
<script src="scripts/controllers/site.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/entities.js"></script>
<script src="scripts/controllers/entities/departments.js"></script>
<script src="scripts/controllers/entities/students.js"></script>
<script src="scripts/controllers/entities/teachers.js"></script>
<script src="scripts/controllers/reports.js"></script>
<script src="scripts/controllers/reports/popularStudyBuddies.js"></script>
<script src="scripts/services/DepartmentService.js"></script>
<!-- endbuild -->
</body>
</html>
