<md-toolbar ng-cloak class="md-whiteframe-z2 md-primary">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="site.toggleSidenav()" hide-gt-lg aria-label=”ShowSideNav”>
            <md-icon class="md-avatar-icon" md-svg-icon="navigation:ic_menu_24px" aria-label="Menu"></md-icon>
        </md-button>
        <h3>Home</h3>
    </div>
</md-toolbar>
<md-content ng-cloak tabindex="-1" role="main" flex>
    <div class="jumbotron">
        <h1>'Allo, 'Allo!</h1>
        <p class="lead">
            <img src="images/yeoman.png" alt="I'm Yeoman"><br>
            Always a pleasure scaffolding your apps.
        </p>
        <p><a class="btn btn-lg btn-success" ng-href="/about">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
    </div>

    <div class="row marketing">
        <h4>HTML5 Boilerplate</h4>
        <p>
            HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
        </p>

        <h4>Angular</h4>
        <p>
            AngularJS is a toolset for building the framework most suited to your application development.
        </p>

        <h4>Karma</h4>
        <p>Spectacular Test Runner for JavaScript.</p>
    </div>

</md-content>


